<h1>Aplicacion calculadora</h1>

<form>
  <div class="mb-3">
    <label for="numero1" class="form-label">Introduzca el primer numero</label>
    <input type="number" #numero1 name="numero1" class="form-control"/>
    <br>
    <label for="numero2" class="form-label">Introduzca el segundo numero</label>
    <input type="number" #numero2 name="numero2" class="form-control"/>
  </div>
  <button class="btn btn-primary" type="button"
  (click)="sumar($event, numero1.value, numero2.value)"
  >
    Sumar
  </button>
  <p>{{resultado}}</p>
</form>