<h1>Aplicación de listado de persona</h1>

<fieldset>
  <form>
    <div class="mb-3">
      <label class="form-label" for="nombrePersona">Escribe el nombre de la persona</label>
      <input class="form-control" type="text" #nombrePersona name="nombrePersona" placeholder="Nombre" />
    </div>
    <div class="mb-3">
      <label class="form-label" for="apellidoPersona">Escribe el apellido de la persona</label>
      <input class="form-control" type="text" #apellidoPersona name="apellidoPersona" placeholder="Apellido" />
    </div>
    <button class="btn btn-primary"
    type="button"
    (click)="agregarPersona($event,nombrePersona.value, apellidoPersona.value)"
    >Agregar persona</button>
  </form>

  <ul *ngIf="personas.length > 0">
    <li *ngFor="let personaElement of personas; let i = index">
      <app-persona [persona]="personaElement" [index]="i" (personaEliminada)="eliminarPersona($event)"></app-persona>
      <!-- <button (click)="eliminarPersona($event, i)">X</button> -->
    </li>
  </ul>
</fieldset>